@import url("https://fonts.googleapis.com/css?family=Cinzel");

@font-face {
 font-family: "Avenir-Light";
 src: url("/font/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
 font-family: "HelveticaNeue-Light";
 src: url("/font/HelveticaNeueLight.woff") format("woff");
}