/* Navbar Prpperties */
$navbar-bg-color: rgb(255, 255, 255);
$navbar-logo-color: #303131;
$navbar-nav-color: #303131;
$navbar-nav-color-hover: #8b98a7;
$navbar-nav-color-active: #8b98a7;

$title-color: #ffffff;
$viewmore-btn: solid rgba(255, 255, 255, 1) 1px;
$viewmore-btn-color:#ffffff;
$viewmore-color-hover:#273a4e;
